<h2>My Heroes</h2>

<ul class="heroes">
  <!-- *ngFor is angulars repeater directive and event binding syntax -->
  <li *ngFor="let hero of heroes" 
    (click)="onSelect(hero)">
  <!--     [class.selected]="hero === selectedHero"> -->
  <!-- Class binding dynamically if hero is selected -->
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="onDelete(hero)">X</button>
  </li>
</ul>

<div>
  <label>Hero Name: 
    <input #heroName >
  </label>
  <!-- Pass input value to onAdd() and clear input -->
  <button (click)="onAdd(heroName.value); heroName.value=''"> ADD </button>
</div>


<!-- One way binding hero property using the @Input() decorator -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->