<nav>
  <ul class="bg-light-yellow pa3">
    <li><a class="f4 fw6 black link hover-dark-red" routerLink="">Comments</a></li>
    <li><a class="f4 fw6 black link hover-purple" routerLink="">TODO</a></li>
    <li><a class="f4 fw6 black link hover-light-purple" routerLink="post">Posts</a></li>
    <li><a class="f4 fw6 black link hover-dark-green" routerLink="user">User</a></li>
    <li><a class="f4 fw6 black link hover-blue" routerLink="about">About</a></li>
    <li><a class="f4 fw6 black link hover-dark-blue" routerLink="/">Home</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
