<!--
  [ ] = property binding: better for dynamically changing property value of html element or directive
  ( ) = event binding
  $event = default method provided by DOM to transfer data as argument when activated
  {{ }} = String interpolation: best for outputing text into template
  [( )] = directive: are instructions in the DOM
  <ng-template> : mark elements in the DOM -  a directive that ships with angular
  attribute directives: only change the element they where placed on
  structural directives: can minipulate the DOM
-->

<div class="form-control">
  <label>Server Name</label>
  <!-- One way data binding -->
  <!-- <input type="text" class="form-control" (input)="OnServerName($event)"> -->
  <!-- Two way data binding -->
  <input type="text" class="form-control" [(ngModel)]="serverName">
  <!-- <p>{{ serverName }}</p> -->
  <button class="btn btn-primary" [disabled]="!addServer" (click)="OnCreateServer()">Start New Server</button>
</div>

<!-- <p [innerText]="addServer"></p> -->
<p *ngIf="serverCreated; else noServer">Server was created, Server name is: {{ serverName }}</p>
<ng-template #noServer><p>No server created!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>
