<!-- <div class="fl w-100 container">
  <h1>{{ name }}</h1>
  <ul>
    <li>{{ age }}</li>
    <li>{{ email }}</li>
    <li>{{ address.street }} {{ address.city }} {{ address.postCode }}</li>
  </ul>

  <button (click)="ToggleEdit()">Edit User</button>

  <div *ngIf=isEdit>

    <h1>Edit User</h1>
    <form>
      <div>
        <label for="age">Name</label>
        <input type="text" [(ngModel)]="name" name="name">
      </div>
      <div>
        <label for="age">Email</label>
        <input type="text" [(ngModel)]="email" name="email">
      </div>
      <div>
        <label for="age">Age</label>
        <input type="text" [(ngModel)]="age" name="age">
      </div>
      <div>
        <label for="age">Street</label>
        <input type="text" [(ngModel)]="address.street" name="street">
      </div>
      <div>
        <label for="age">City</label>
        <input type="text" [(ngModel)]="address.city" name="city">
      </div>
      <div>
        <label for="age">Post Code</label>
        <input type="text" [(ngModel)]="address.postCode" name="postCode">
      </div>
    </form>
  </div>

  <h1>Hobbies</h1>
  <form (submit)="AddHobby(hobby.value)">
    <div class="">
      <label for="hobby">Hobby:</label>
      <input type="text" #hobby>
    </div>
  </form>
  <ul>
    <li *ngFor="let hobby of hobbies; let i = index">
      {{ i + 1 }}: {{ hobby }} <button (click)="DeleteHobby(hobby)">X</button>
    </li>
  </ul>

</div> -->

<!-- TODO make search user button -->
<div class="container">

  <section class="fl w-100 mw10 mw12-ns center">
    <div *ngFor="let user of users">
      <div class="bg-light-gray mb4 pb2">

        <div class="mw10 center ph3-ns">
          <div class="cf ph2-ns">

            <!-- User section -->

            <div class="fl w-100 w-100-ns pa1">
              <div class="bb mb2">
                <h4 class="f3 ttu tc"> {{ user.name }}</h4>
              </div>
            </div>

            <div class="grow">
              <div class="fl w-100 w-third-ns pa2 bg-lightest-blue">
                <p>User ID: <span class="fr">{{ user.id }}</span></p>
              </div>

              <div class="fl w-100 w-third-ns pa2 bg-light-blue">
                <p>User Name: <span class="fr">{{ user.username }}</span></p>
              </div>

              <div class="fl w-100 w-third-ns pa2 bg-blue">
                <p>Email: <span class="fr">{{ user.email }}</span></p>
              </div>
            </div>

            <!-- Address section -->

            <div class="grow">
              <div class="fl w-100 w-25-ns pa2 bg-lightest-blue">
                <p>Street: <span class="fr">{{ user.address.street }}</span></p>
              </div>

              <div class="fl w-100 w-25-ns pa2 bg-lightest-blue">
                <p>{{ user.address.suite }}</p>
              </div>

              <div class="fl w-100 w-25-ns pa2 bg-light-blue">
                <p>{{ user.address.city }}</p>
              </div>

              <div class="fl w-100 w-25-ns pa2 bg-blue">
                <p>ZipCode: <span class="fr">{{ user.address.zipcode }}</span></p>
              </div>
            </div>

            <div class="grow">
              <div class="fl w-100 w-50-ns pa2 bg-lightest-blue">
                <p>LAT: <span class="fr">{{ user.address.geo.lat }}</span></p>
              </div>

              <div class="fl w-100 w-50-ns pa2 bg-light-blue">
                <p>LNG: <span class="fr">{{ user.address.geo.lng }}</span></p>
              </div>
            </div>

            <!-- Contact Details -->

            <div class="fl w-100 pa2 bg-lightest-blue grow tc">
              <p>Phone Number: {{ user.phone }}</p>
            </div>

            <!-- Company Details -->

            <div class="fl w-100 w-100-ns pa2 f4 ttu purple">
              <div class="bb pb2">
                <p class="tc">{{ user.company.name }}</p>
              </div>
            </div>

            <div class="fl w-100 w-100-ns pa2 bg-light-red grow">
              <p class="tc">{{ user.website }}</p>
            </div>

            <div class="tc grow">
              <div class="fl w-100 w-50-ns pa2 bg-red">
                <p>{{ user.company.catchPhrase }}</p>
              </div>

              <div class="fl w-100 w-50-ns pa2 bg-dark-red">
                <p>{{ user.company.bs }}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

</div>
