<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Test</h3>
      <hr>
      <!-- notation examples of app-servers -->
      <!-- <app-servers></app-servers> <> tag-->
      <!-- <div app-servers></div>  < [element]>-->
      <!-- <div class="app-servers"></div> <.x Class>-->
      <app-servers></app-servers>

      <button class="btn btn-primary" (click)="OnToggleDetails()">Display Details</button>
      <!-- <p *ngIf="showSecret">Secret Password = tuna</p> -->
      <div
      *ngFor="let logItem of log; let i = index"
      [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
      [ngClass]="{'white-text': i >= 4}">
        {{ logItem }}
      </div>
      <br>
      <p app-directiveTest> Directive Test</p>
      <br><br>
    </div>
  </div>
  <app-numbers></app-numbers>
</div>
